In [1]:
import warnings
warnings.filterwarnings(action='ignore')
%config Computer.use_jedi = False
import numpy as np

def pprint(arr):
    print('type: {}'.format(type(arr)))
    print('shape: {}, dimension: {}, dtype: {}'.format(arr.shape, arr.ndim, arr.dtype))
    print('numpy 배열의 데이터\n', arr, sep='')

인덱싱

배열의 각 요소는 axis 인덱스 배열로 참조할 수 있다.  
1차원 배열은 1개의 인덱스, 2차원 배열은 2개의 인덱스, 3차원 배열은 3개의 인덱스로 요소를 참조할 수 있다.  
인덱싱 작업시 [행][열]과 같이 인덱스를 지정하거나 [행,열]과 같이 인덱스를 지정할 수 있다.

In [ ]:
a = np.arange(24)
pprint(a)
b = np.arange(0, 24).reshape(4, 6)
pprint(b)
c = np.arange(3, 5, 6)
pprint(c)

In [ ]:
print(a[5])
a[5] = 10000
pprint(a)

In [ ]:
# 2차원 배열 요소 참조 및 변경

In [ ]:
pprint(b)
print('=' * 80)
print(b[1:3])
print('=' * 80)

In [ ]:
# 음수 인덱싱을 이용한 범위 설정
# 음수 인덱스는 지정한 axis의 마지막 요소부터 반대 방향의 인덱스이고 -1은 마지막 요소의 인덱스를 의미한다.
print(b[1:3, 1:5])
print(b[1:-1, 1:-1])

In [ ]:
# 슬라이싱을 이용한 데이터 수정
pprint(b)
print('=' * 80)
# 슬라이싱을 이용한 배열 생성
slide_arr = b[1:3, 1:5]
print(slide_arr)
print('=' * 80)
print(slide_arr[:, 1:3])
slide_arr[:, 1:3] = 9999
print(slide_arr)
print('=' * 80)
print(slide_arr)
print('=' * 80)
print(b)

불린 인덱싱

numpy의 불린 인덱싱인 배열의 각 요소 선택 여부를 True, False로 지정하는 방식이다. => True가 선택된다.

In [ ]:
a = np.arange(0, 24).reshape(4, 6)
pprint(a)

In [ ]:
# a 배열에서 요소의 값이 짝수인 요소의 전체 합계
# numpy의 브로드캐스팅 기능을 이용해서 배열의 요소 중에서 짝수인 요소를 확인한다.
even_arr1 = a % 2 # 브로드캐스팅
print(even_arr1)
print('=' * 80)
even_arr2 = a % 2 == 0
print(even_arr2)

In [ ]:
# 불린 인덱싱은 브로드캐스팅 결과가 True인 요소들만 추출한다.
print(a[even_arr2])
print(a[a%2 == 0])

In [ ]:
print(np.sum(a))
print(a[a % 2 == 0].sum())
print(np.sum(a[a%2 == 0]))
print(np.sum(a[a%2 == 1]))
print(a[a%2 != 0].sum())

불린 인덱싱 응용

데이터 파일 => 2014년 시애틀 강수량 데이터 => ./data/seattle2014.csv  
2014년 1월 시애틀 평균 강수량?

In [5]:
import pandas as pd

In [6]:
# pandas의 read_csv() 메소드로 csv 파일을 데이터프레임으로 리턴한다.
rain_in_seattle = pd.read_csv('./data/seattle2014.csv')
print(type(rain_in_seattle))
rain_in_seattle

<class 'pandas.core.frame.DataFrame'>

,STATION,STATION_NAME,DATE,PRCP,SNWD,SNOW,TMAX,TMIN,AWND,WDF2,WDF5,WSF2,WSF5,WT01,WT05,WT02,WT03
0,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20140101,0,0,0,72,33,12,340,310,36,40,-9999,-9999,-9999,-9999
1,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20140102,41,0,0,106,61,32,190,200,94,116,-9999,-9999,-9999,-9999
2,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20140103,15,0,0,89,28,26,30,50,63,72,1,-9999,-9999,-9999
3,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20140104,0,0,0,78,6,27,40,40,45,58,1,-9999,-9999,-9999
4,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20140105,0,0,0,83,-5,37,10,10,67,76,-9999,-9999,-9999,-9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20141227,33,0,0,94,44,49,210,210,112,161,1,-9999,-9999,-9999
361,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20141228,41,0,0,67,28,18,50,30,58,72,1,-9999,-9999,-9999
362,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20141229,0,0,0,61,6,43,350,350,76,103,1,-9999,-9999,-9999
363,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20141230,0,0,0,33,-21,36,90,70,63,76,-9999,-9999,-9999,-9999
364,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20141231,0,0,0,33,-27,30,30,-9999,58,-9999,-9999,-9999,-9999,-9999

In [7]:
# 2014년 시애틀 강수량 데이터의 강수량 열(PRCP)의 데이터만 추출한다. 
# 데이터프레임의 특정 열 1개(시리즈) 추출하기
# rain_arr = rain_in_seattle['PRCP']
# rain_arr = rain_in_seattle.get('PRCP')
rain_arr = rain_in_seattle.PRCP #3가지 모두 동일한 결과
print(rain_arr)

0       0
1      41
2      15
3       0
4       0
       ..
360    33
361    41
362     0
363     0
364     0
Name: PRCP, Length: 365, dtype: int64

In [10]:
# 데이터만 얻어오기 위해서는 values 속성을 사용하고 인덱스만 얻어오려면 index 속성을 사용한다.
rain_arr = rain_in_seattle['PRCP'].values
# rain_arr = rain_in_seattle.get('PRCP')
# rain_arr = rain_in_seattle.PRCP #3가지 모두 동일한 결과
print(rain_arr)
print('data size:' , len(rain_arr))

[  0  41  15   0   0   3 122  97  58  43 213  15   0   0   0   0   0   0
   0   0   0   5   0   0   0   0   0  89 216   0  23  20   0   0   0   0
   0   0  51   5 183 170  46  18  94 117 264 145 152  10  30  28  25  61
 130   3   0   0   0   5 191 107 165 467  30   0 323  43 188   0   0   5
  69  81 277   3   0   5   0   0   0   0   0  41  36   3 221 140   0   0
   0   0  25   0  46   0   0  46   0   0   0   0   0   0   5 109 185   0
 137   0  51 142  89 124   0  33  69   0   0   0   0   0 333 160  51   0
   0 137  20   5   0   0   0   0   0   0   0   0   0   0   0   0  38   0
  56   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
  18  64   0   5  36  13   0   8   3   0   0   0   0   0   0  18  23   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   3 193   0   0   0   0   0   0   0   0   0   5   0   0
   0   0   0   0   0   0   5 127 216   0  10   0   0   0   0   0   0   0
   0   0   0   0   0   0   0  84  13   0  30   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   5   3   0   0   0   3 183 203  43  89   0
   0   8   0   0   0   0   0   0   0   0   0   0   3  74   0  76  71  86
   0  33 150   0 117  10 320  94  41  61  15   8 127   5 254 170   0  18
 109  41  48  41   0   0  51   0   0   0   0   0   0   0   0   0   0  36
 152   5 119  13 183   3  33 343  36   0   0   0   0   8  30  74   0  91
  99 130  69   0   0   0   0   0  28 130  30 196   0   0 206  53   0   0
  33  41   0   0   0]
data size: 365

In [28]:
days_arr = np.arange(365) # 날짜 배열
print(days_arr[:40])
# 1월의 날 수 만큼 불린 인덱스를 생성한다.
condition_jan = days_arr < 31
print(condition_jan[:40])

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True False False False False False
 False False False False]

In [31]:
rain_jan = rain_arr[condition_jan]
print(rain_jan)
print(len(rain_jan))

[  0  41  15   0   0   3 122  97  58  43 213  15   0   0   0   0   0   0
   0   0   0   5   0   0   0   0   0  89 216   0  23]
31

In [33]:
print('1월 강수량 합계: {}'.format(np.sum(rain_jan)))
print('1월 강수량 평균: {:4.1f}'.format(np.mean(rain_jan)))

1월 강수량 합계: 940
1월 강수량 평균: 30.3

팬시 인덱싱

배열에 인덱스 배열을 전달해 요소를 참조하는 방법이다.

In [34]:
a = np.arange(1, 25).reshape(4, 6)
print(a)

[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]
 [13 14 15 16 17 18]
 [19 20 21 22 23 24]]

In [39]:
print(a[0, 0], a[1,1], a[2,2], a[3,3])
arr = a[0, 0], a[1,1], a[2,2], a[3,3]
print(arr)
print(type(arr))
arr = [a[0, 0], a[1,1], a[2,2], a[3,3]]
print(arr)
print(type(arr))

1 8 15 22
(1, 8, 15, 22)
<class 'tuple'>
[1, 8, 15, 22]
<class 'list'>

배열 변환

배열을 변환하는 방법은 전치, 배열의 shape 변경, 배열 요소 추가, 배열 결합, 배열 분리 등이 있다.

전치는 행렬의 인덱스가 바뀌는 변환이다. 

<img src='./images/numpyImage08.jpg' align=left width=300>

In [75]:
# numpy에서 행렬 전치하기 위해서 넘파이배열.T 속성을 사용한다.
a = np.random.randint(1, 10, (3, 2))
print(a)
print(a.T)

[[7 5]
 [2 5]
 [9 6]]
[[7 2 9]
 [5 5 6]]

배열의 shape 변경

numpy는 배열의 형태를 변경하는 reshape() 메소드와 ravel() 메소드를 제공한다.  
reshape() 메소드는 데이터 변경없이 지정한 shape으로 배열의 형태를 변환하지만 ravel() 메소드는 배열의 shape을 무조건 1차원으로 변환한다.

In [85]:
a = np.random.randint(1, 10, (3, 2))
print(a)
print(a.ravel()) # 1차원으로 변경된 결과를 리턴한다.
print(a)

[[2 8]
 [3 7]
 [7 6]]
[2 8 3 7 7 6]
[[2 8]
 [3 7]
 [7 6]]

In [86]:
# ravel() 메소드는 원본 배열의 view를 반환한다.
# ravel() 메소드가 반환한 배열을 수정하면 원본 배열의 내용이 같이 수정된다.
b = a.ravel()
print(b)
b[4] = 999
print(b)
print(a) # 원본 손상 없이 진행하려면 copied로 복사해서 진행한다.

[2 8 3 7 7 6]
[  2   8   3   7 999   6]
[[  2   8]
 [  3   7]
 [999   6]]

resize() 메소드로 배열의 shape과 크기를 변경할 수 있다.
넘파이배열.resize(new_shape), np.resize(넘파이배열, new_shape)
resize() 메소드와 reshape() 메소드는 shape을 변경하는 부분에서는 유사하지만 reshape() 메소드는 배열을 구성하는 요소의 개수를 변경하지 못하는 반면에 resize() 메소드는 shape을 변경하는 과정에서 배열을 구성하는 요소의 개수를 줄이거나 늘릴 수 있다.

In [101]:
a = np.random.randint(1, 10 ,(2, 6))
print(a)
np.resize(a, (10, 1)) # shape이 변경된 결과를 리턴한다.
# print(a)

[[9 4 9 4 9 3]
 [5 3 6 1 1 3]]

array([[9],
       [4],
       [9],
       [4],
       [9],
       [3],
       [5],
       [3],
       [6],
       [1]])

append() 메소드는 배열 끝에 데이터(배열)를 추가한다. axis로 데이터가 추가되는 방향을 지정할 수 있다.

In [104]:
a = np.random.randint(1, 10 ,(3, 3))
print(a)
b = np.random.randint(10, 19 ,(3, 3))
print(b)

[[2 1 6]
 [7 3 2]
 [6 7 8]]
[[17 10 10]
 [10 17 18]
 [16 12 11]]

In [111]:
# axis=None
# axis를 지정하지 않았을 경우 배열은 1차원으로 변환되서 결합된다. 
print(np.append(a, b))
print(a)
print(b)
result = np.append(a, b)
print(result)

[ 2  1  6  7  3  2  6  7  8 17 10 10 10 17 18 16 12 11]
[[2 1 6]
 [7 3 2]
 [6 7 8]]
[[17 10 10]
 [10 17 18]
 [16 12 11]]
[ 2  1  6  7  3  2  6  7  8 17 10 10 10 17 18 16 12 11]

In [114]:
# axis=0
print(np.append(a, b, axis=0)) # a 배열 아래쪽(열방향)에 b 배열이 추가된다.

[[ 2  1  6]
 [ 7  3  2]
 [ 6  7  8]
 [17 10 10]
 [10 17 18]
 [16 12 11]]

In [ ]:
# axis=0인 경우

In [117]:
# axis=1
print(np.append(a, b, axis=1)) # a 배열 오른쪽(행방향)에 b 배열이 추가된다.

[[ 2  1  6 17 10 10]
 [ 7  3  2 10 17 18]
 [ 6  7  8 16 12 11]]

index() 메소드는 지정한 index에 데이터를 삽입한다. axis

배열 결합

numpy는 배열과 배열을 결합하는 concatenate(), vstack(), hstack() 메소드를 제공한다.

np.concatenate() 메소드는 axis로 결합할 방향을 지정해서 배열을 결합한다.  
np.concatenate(배열1, 배열2, ..., axis)

In [119]:
a = np.random.randint(1, 10 ,(3, 3))
print(a)
b = np.random.randint(10, 19 ,(3, 3))
print(b)

[[9 4 2]
 [2 6 1]
 [8 1 6]]
[[17 18 11]
 [15 17 13]
 [17 15 13]]

In [127]:
# axis를 None으로 지정하면 1차원 배열로 변환한 후 배열을 결합한다.
print(np.concatenate((a, b), axis=None))

[ 9  4  2  2  6  1  8  1  6 17 18 11 15 17 13 17 15 13]

In [130]:
# axis를 지정하지 않으면 0이 기본값이고 아래쪽으로 배열을 결합한다. 결합하려는 배열들의 열의 개수가 다르면 에러가 발생된다.
print(np.concatenate((a, b), axis=None))
print(np.concatenate((a, b)))
print(np.concatenate(([a, b])))

[ 9  4  2  2  6  1  8  1  6 17 18 11 15 17 13 17 15 13]
[[ 9  4  2]
 [ 2  6  1]
 [ 8  1  6]
 [17 18 11]
 [15 17 13]
 [17 15 13]]
[[ 9  4  2]
 [ 2  6  1]
 [ 8  1  6]
 [17 18 11]
 [15 17 13]
 [17 15 13]]

TypeError: unhashable type: 'numpy.ndarray'